*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: aliceblue;
}

.container{
    margin-top: 100px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 16px;
    gap: 16px;
}
.item{
    background-color: rgb(50, 161, 161);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-inline: 32px;
    border-radius: 10px;
    flex-direction: column;
}
.numeros{
    flex-grow: 1 ;
    padding: 0px 10px;
}
.numeros span{
    background-color: black;
    display: inline-block;
    text-align: center;
    width: 30px;
}
button{
    padding: 0px 8px;
}